output/doc/schemas/delivermessage-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DeliverMessage" nillable="true" type="DeliverMessage" />
  <xs:complexType name="DeliverMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageInfo" type="MessageInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartyInfo" type="PartyInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="CollaborationInfo" type="CollaborationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="MessageProperties" type="ArrayOfMessageProperty" />
      <xs:element minOccurs="0" maxOccurs="1" name="Payloads" type="ArrayOfPayload" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RefToMessageId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mpc" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FromParty" type="Party" />
      <xs:element minOccurs="0" maxOccurs="1" name="ToParty" type="Party" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Role" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartyIds" type="ArrayOfPartyId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPartyId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartyId" nillable="true" type="PartyId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollaborationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Action" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ConversationId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AgreementRef" type="Agreement" />
      <xs:element minOccurs="0" maxOccurs="1" name="Service" type="Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Agreement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RefType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PModeId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMessageProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageProperty" nillable="true" type="MessageProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPayload">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payload" nillable="true" type="Payload" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Payload">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MimeType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CharacterSet" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Location" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Schemas" type="ArrayOfSchema" />
      <xs:element minOccurs="0" maxOccurs="1" name="PayloadProperties" type="ArrayOfPayloadProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSchema">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Schema" nillable="true" type="Schema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Schema">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Location" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Namespace" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPayloadProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayloadProperty" nillable="true" type="PayloadProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayloadProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>